
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

section {
    width: 70%;
    float: left;
    padding-left: 10%;
}

header {
    background-color: #033048;
    margin-bottom: 30px;
}

nav {
    padding-top: 30px;
    padding-bottom: 22px;
}

aside {
    width: calc(30% - 1% - 10%);
    margin-right: 10%;
    float: left;
    margin-left: 1%;
}

hr {
    margin-top: 25px;
}

h3 {
    font-size: 20px;
    font-weight: 800;
    color: #033048;
    margin-top: 20px;
    margin-bottom: 5px;
}

header li {
    display: inline;
    padding-left: 30px;
}

header h1 {
    float: left;
    color: #fff;
    padding-left: 10%;
    font-weight: 800;
    font-size: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
}

footer h4 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: #f9e42e;
    padding-top: 30px;
    padding-bottom: 20px;
}

header nav {
    float: right;
    padding-right: 10%;
    font-weight: 300;
    font-size: 16px;
}

nav a {
    color: #f9e42e;
    text-decoration: none;
}

article h2 {
    font-size: 24px;
    font-weight: 600;
    color: #033048;
    margin-top: 25px;
}

article a {
    font-size: 16px;
    font-weight: 600;
    color: #033048;
    float: right;
    padding-top: 30px;
}

article p {
    font-size: 16px;
    font-weight: 300;
}

article img {
    width: 100%;
    padding: 20px 0;
}

aside img {
    width: 100%;
    margin-top: 30px;
}

aside p {
    font-size: 14px;
    font-weight: 300;
    color: #033048;
}

aside a {
    font-size: 14px;
    font-weight: 300;
    color: #033048;
    padding-top: 5px;
}

.drop-cap:first-letter {
    font-size: 55px;
    color: #606161;
    font-weight: 600;
    float: left;
    line-height: 55px;
}

footer {
    text-align: center;
    background-color: #000;
}

footer p {
    margin-top: 30px;
}

footer h1 {
    font-weight: 800;
    text-align: center;
    color: #f9e42e;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer img {
    transform: scale(0.6);
    padding-left: 5px;
    padding-right: 5px;
}

.cta {
    padding-bottom: 30px;
    text-align: center;
    background: #f9e42e;
    padding-top: 30px;
    margin-top: 40px;
}

.button {
    background: #033048;
    color: #fff;
    font-weight: 800;
    font-size: 12px;
    border-radius: 5px;
    padding: 10px 40px;
    border: 0px;
}

.copyright {
    font-size: 9px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.extra {
    margin-bottom: 80px;
}

.semi {
    font-weight: 600;
}
